@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "Montserrat", sans-serif;
}
.primaryColor{
    color: #242424;
}
.secondaryColor{
    color: #F62977;
}
.thirdColor{
    color: #080921;
}
.primaryButton{
    background-color: #080921;
    color: white;
    font-weight: 500;
    padding: 9px 0px;
    transition: all 0.3s ease-in-out;
    /* width: 100%; */
}
.primaryButton:hover{
    background-color: #F62977;
    color: white;

}
.secondaryButton{
    background-color: #F62977;
    color: white;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
}
.secondaryButton:hover{
    background-color: #080921;
    color: white;

}