@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "Roboto", sans-serif;
}
.primaryColor{
    color: #525258;
}
.secondaryColor{
    color: #F62977;
}
.thirdColor{
    color: #080921;
}