#app { height: 100% }
html,


.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide .bannerImg {
  display: block;
  width: 100%;
  height: 550px;
}
